@charset "utf-8";

/****** common ******/
h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h2 {
	margin-top: 60px;
	margin-bottom: 30px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
/****** header ******/

/*** logo ***/
#logo {
	text-align: center;
}

/*** nav ***/
.gl-nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.gl-nav-item {
	width: 20%;
	height: 45px;
	border: 1px solid #ccc;
	background-color: #000;
	box-size: border-box;
}

.gl-nav-item a {
	display: block;
	padding-top: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

/*** index ***/
#index {
	width: 100%;
	height: 480px;
	background: url("https://tguchi.s3.amazonaws.com/uploads/topic/image/4377/%E3%81%8F%E3%81%BE%E3%81%AE%E3%83%91%E3%83%B3%E3%82%B1%E3%83%BC%E3%82%AD%E7%94%BB%E5%83%8F.jpg") 0 center no-repeat;
	background-size: cover;
	position: relative;
}

#index .index-copy {
	color: #fff;
	font-size: 3rem;
	position: absolute;
	top: 20%;
	left: 5%;
}

/*** about ***/

.about-title {
	color: #a18449;
}
.about-image {
	width: 100%;
}

.about-message {
	color: #a18449;
	padding: 0 15px;
}

.about-message-hungry {
	color: #ff0000;
	font-size: 2rem;
	text-align: center;
}

/**** パンケーキのおいしいお店 ***/
.pancake-shop-index {
	position: flex;
	justify-contents: space-around;
}

.pancake-shop-index img {
	width: 300px;
	height: auto;
	padding: 5px;
	border: 1px solid #ccc;
}

