@charset "utf-8";

/**** パンケーキのおいしいお店 ***/
.pancake-shop-index {
	position: flex;
	justify-contents: space-around;
}

.pancake-shop-index img {
	width: 300px;
	height: auto;
	padding: 5px;
	border: 1px solid #ccc;
}

